*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Rubik sans-serif;
}

.container{
    padding:0 80px;
}

.header{
    background-color: #F6F6F9;
}

/*top bar style begin*/
.top-bar{
    display: flex;
    align-items: center;
    padding-top:30px;
    padding-bottom:30px;
    justify-content: space-between;
}

.currency{
    margin-right:auto;
    margin-left: 15px;
}

.currency > span{
    color: #295091;
    font-weight: 400;
    margin-right: 5px;
    margin-left:30px;
}

.logo{
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    padding:6px;
    color: #295091;
    background-color: #ffffff;
}

.header{
    padding-top:20px;
    padding-bottom: 20px;
}

.follow{
    background-color: #1E96C8;
    padding:8px;
    display:flex;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.search{
    display: flex;
    margin-right: auto;
}

.search>input{
    padding:7px;
    font-size: 13px;
    width:130px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.search_img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    background-color: #FFFFFF;
    width:50px; 
    border-radius: 5px;
}

.language{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    background-color: #FFFFFF;
    margin-left: 40px;
    border-radius: 5px;
}

.language > img{
    margin-right: 5px;
}

.follow > img{
    margin:5px;
}
/*top-bar style end/

/*Navbar style begin*/
.navbar{

}

.nav{
    padding: 5px 5px;
     width:100%;
    display:flex;
    list-style: none;
    justify-content: space-around;
    background-color: white;
    border-radius: 5px;
}

.nav-item > a{
    padding:7px;
    text-decoration: none;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;

    color:#515151;
}

.nav-item>a:hover{
    color:white;
    background-color: black;
}

.nav-item > a:active{
    color:red;
    background-color: rgb(61, 54, 54);
}

.bottom-bar{
    padding:20px 0px;
}

.bottom-bar > img{
    width:100%;
}

.form1{
    display: flex;
    width:100%;
}

.form{
    display:flex;
    width: 50%;
    flex-direction: column;

}

.failed{
    display: flex;
    margin:15px 0;
}

.failed > input{
    width:100%;
    background-color: #F1F1F1;
    padding: 10px;
    opacity: 0.3;
    border: 2px solid #285193;
    box-sizing: border-box;
    border-radius: 5px;
}

textarea{
    width:100%;
    background-color: #F1F1F1;
    padding:10px;
    opacity: 0.3;
    border: 2px solid #285193;
    box-sizing: border-box;
    border-radius: 5px;
}

.filee{
    display: inline-block;
    margin:15px 0;
}

.file{
    width:320px;
    background-color: #F1F1F1;
    padding:10px;
    opacity: 0.3;
    border: 2px solid #285193;
    box-sizing: border-box;
    border-radius: 5px;
}

.password{
    width: 320px;
    background-color: #F1F1F1;
    padding:10px;
    opacity: 0.3;
    border: 2px solid #285193;
    box-sizing: border-box;
    border-radius: 5px;
    
}

.kod{
    margin-left: 10px;
    font-size: 25px;
}

.send{
    margin:15px 0;
}

.send-box{
    width: 320px;
    height:70px;
    color:#FFFFFF;
    background-color: #295093;
    padding:10px;
    border: 2px solid #285193;
    box-sizing: border-box;
    border-radius: 5px;
}

.shadow{
    margin:20px 50px;
    width:45%;
    height:270px;
    border: 2px solid #BCC3CD;
    border-radius: 5px;
    box-shadow: -10px 10px 7px #BCC3CD;
}

.logoo{
    display:flex;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    padding:10px;   
    font-size: 18px;
    line-height: 33px;

    color: #295091;

    justify-content: flex-end;

}

.list{
    display: inline-block;
    width:50%;
}

.list-item{
    display: inline-block;
    padding:15px 10px;
    list-style: none;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    width:100%;
    color: #888888;
}

.email{
    display:inline-block;
    width:40%;
}

.email > a{
    display: flex;
    justify-content:flex-start;
    padding:12px 0;
}

.follow2{
    display:flex;
    width:150px;
    justify-content:flex-start;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    color:#FFFFFF;
    background-color: #295091;
}

.follow2 > img{
    padding-right: 5px;
    padding-left: 10px;
}

.email-img{
    padding-right: 10px;
}

.footer{
    padding-top:20px;
    padding-bottom:20px;
    background-color: #295093;
}

.top-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #133C82;
    padding-bottom:20px;
}

.logo3{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #133C82;
    border-radius: 5px;
    padding:7px 10px;
}

.description{
    margin-left: auto;
    margin-right: 10px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.follow3{
    display: flex;
    align-items: center;
    padding:6px 10px;
    background-color: white;
    border-radius: 5px;
}

.follow3 > span{
    color:#295093;
    margin-left:5px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.bottom-footer{
    display: flex;
}

.footer-info{
    width:600px;
    padding-right: 60px;
    padding-top: 10px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 17px;

    color: #FFFFFF; 
}

.footer-info > h3{
    padding-bottom: 15px;
}

.links{
    width:300px;
    list-style: none;
}

.links-item{
    padding:5px 0;
}

.links-item > a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
}